<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id="com.aupa.sample" version="1.0.0">

	<name>TT Mobile</name>

	<description>
		mobile App for TT project
	</description>

	<author href="http://lev90.github.com" email="levon.hakopyan.gmail.com">
		Levon
	</author>
	
	<worklightSettings include="true" />
	
	<preference name="orientation"	value="default" />
	<preference name="target-device"	value="universal" /> 
	
	<content src="index.html" />
  <access origin="*" />
	
	<feature name="http://api.phonegap.com/1.0/network" />
	
</widget>
